<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<header th:replace="template :: header">
	</header>
	<body>
		<head th:replace="template :: navbar"/>
		<div class="container">
			<div>
				<h3 class="header center-on-small-only">Funcionarios</h3>
			</div>
			<div th:if="${msg} != ''" class="chip" th:text="${msg}">
				<i class="close material-icons">close</i>
			</div>
			<table class="table bordered striped responsive-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Opções</th>
						<th>Adicionar Dia de Trabalho</th>
						<th>Ver Horas</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${funcionarios}">
						<td th:text="${funcionario.nome}"></td>
						<td>
							<a class="waves-effect waves-light btn" th:href="@{/funcionarios/edit/{id}(id=${funcionario.id})}">
								Editar<i class="material-icons right">edit</i>
							</a>
							<a class="waves-effect waves-light btn red" th:href="@{/funcionarios/delete/{id}(id=${funcionario.id})}">
								Excluir<i class="material-icons right">delete</i>
							</a>
						</td>
						<td>
							<a class="waves-effect waves-light btn modal-trigger" th:href="'#modal' + ${funcionario.id}" >
							      <i class="material-icons">add</i>
							</a>
							<div th:id="'modal' + ${funcionario.id}" class="modal modal-fixed-footer">
								<div class="modal-content">
									<h4 th:text="'Adiconar dia de servico ao ' + ${funcionario.nome}"></h4>	
  										<form action="" th:action="@{/diaDeTrabalho/save}" th:object="${diaDeTrabalho}" method="POST" class="form-horizontal">
											<input required="true" type="hidden" th:object="${funcionario}" th:value="${funcionario.id}" id="funcionario" name="funcionario"/>
											<label for="date">Data</label>
											<input required="true" type="date" class="datepicker" id="date" placeholder="Date" th:field="*{date}"/>
											<label for="entrada">Hora que o funcionário entrou:</label>
											<input required="true" type="time" class="timepicker" id="entrada" placeholder="Time" th:field="*{entrada}"/>
											<label for="saidaAlmoco">Hora que o funcionário saiu para o almoco:</label>
											<input required="true" type="time" class="timepicker" id="saidaAlmoco" placeholder="Time" th:field="*{saidaAlmoco}"/>
											<label for="entradaAlmoco">Hora que o funcionário voltou do almoço:</label>
											<input required="true" type="time" class="timepicker" id="entradaAlmoco" placeholder="Time" th:field="*{entradaAlmoco}"/>
											<label for="saida">Hora que o funcionário saiu:</label>
											<input required="true" type="time" class="timepicker" id="saida" placeholder="Time" th:field="*{saida}"/>
										
									      	<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
										</form>						
  								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
								</div>
							</div>
						</td>
						<td>
							<a class="waves-effect waves-light btn modal-trigger" th:href="'#modal-ver-entradas' + ${funcionario.id}" >
								Ver Entradas
							</a>
							<div th:id="'modal-ver-entradas' + ${funcionario.id}" class="modal modal-fixed-footer">
								<div class="modal-content">
									<h4 th:text="'Ver as horas trabalhadas de ' + ${funcionario.nome}"></h4>	
									<form th:action="@{/funcionarios/verentradas}">
										<select name="mes">
											<option value="1">Janeiro</option>
											<option value="2">Fevereiro</option>
											<option value="3">Março</option>
											<option value="4">Abril</option>
											<option value="5">Maio</option>
											<option value="6">Junho</option>
											<option value="7">Julho</option>
											<option value="8">Agosto</option>
											<option value="9">Setembro</option>
											<option value="10">Outubro</option>
											<option value="11">Novembro</option>
											<option value="12">Dezembro</option>
										</select>
										<input type="number" name="ano" placeholder="ano"/>
										<input type="hidden" name="id" th:value="${funcionario.id}"/>
										<input type="submit" class="waves-effect waves-light btn"/>
									</form>
  								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="template :: javascript"></div>
		<script type="text/javascript" th:src="@{/js/modal.js}"></script>
		<script type="text/javascript" th:src="@{/js/listar_func.js}"></script>
	</body>
</html>