<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<header th:replace="template :: header">
	</header>
	<body>
		<head th:replace="template :: navbar"/>
		<div class="container">
			<div>
				<h3 class="header center-on-small-only">Funcionarios</h3>
			</div>
			<table class="table bordered striped responsive-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Opções</th>
						<th>Adicionar Entrada/Saída</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${funcionarios}">
						<td th:text="${funcionario.nome}"></td>
						<td>
							<a class="waves-effect waves-light btn" th:href="@{/funcionarios/edit/{id}(id=${funcionario.id})}">
								Editar<i class="material-icons right">edit</i>
							</a>
							<a class="waves-effect waves-light btn red" th:href="@{/funcionarios/delete/{id}(id=${funcionario.id})}">
								Excluir<i class="material-icons right">delete</i>
							</a>
							
						</td>
						<td>
							<a class="waves-effect waves-light btn modal-trigger" th:href="'#modal' + ${funcionario.id}" >
							      <i class="material-icons">edit</i>
							</a>
							
							<div th:id="'modal' + ${funcionario.id}" class="modal modal-fixed-footer">
								<div class="modal-content">
									<h4>Detalhes</h4>
									<p>A bunch of text</p>
									<h1 th:text="${funcionario.nome}"></h1>
									<h1 th:text="${funcionario.id}"></h1>
									<h1 th:text="${funcionario.PO}"></h1>
								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fechar</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="template :: javascript"></div>
		<script type="text/javascript" th:src="@{/js/modal.js}"></script>
	</body>
</html>