<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<header th:replace="template :: header">
	</header>
	<body>
		<head th:replace="template :: navbar"/>
		<div class="container">
			<table class="table bordered striped responsive-table">
				<thead>
					<tr>
						<th>Data</th>
						<th>Entrada</th>
						<th>Saída</th>
						<th>Saída <br/>Almoço</th>
						<th>Retorno <br/>Almoço</th>
						<th>Horas Trabalhas <br/>no Dia</th>
					</tr>
				</thead>
				<tbody>
					<div th:each="diaDeTrabalho : ${lista}">
						<div th:each="i : ${#numbers.sequence(1, 31)}">
							<tr th:if="${diaDeTrabalho.date.dayOfMonth} == ${i}">
								<td th:text="${#temporals.format(diaDeTrabalho.date, 'dd/MM/yyyy')}"></td>
								<td th:text="${diaDeTrabalho.entrada}"></td>
								<td th:text="${diaDeTrabalho.saidaAlmoco}"></td>
								<td th:text="${diaDeTrabalho.entradaAlmoco}"></td>
								<td th:text="${diaDeTrabalho.saida}"></td>

							</tr>
						</div>
					</div>
				</tbody>
			</table>
			<div th:replace="template :: javascript"></div>
		</div>
	</body>
</html>