<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="template :: header">
		<link th:href="@{css/reset.css}" rel="stylesheet"/>
		<link th:href="@{css/materialize.min.css}" rel="stylesheet"/>
		<link th:href="@{css/styles.css}" rel="stylesheet"/>
	</head>

 <body>
	<div th:replace="template :: navbar-not-logged"></div>
    <div class="body">
	    <h1>Access is Denied!</h1>
	    <a th:href="@{/}">Go to Home Page</a>
	</div>
	<div th:replace="template :: javascript"></div>
	
 </body>
</html>