<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="template :: header">
	</head>
	<body>
		<head th:replace="template :: navbar"/>
		<div class="body">
			<h1> Hello! This is Admin Page!</h1>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
		</div>
	<div th:replace="template :: javascript"></div>
	</body>
</html>