<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="template :: header">
	</head>
 <body>
	<div th:replace="template :: navbar-not-logged"></div>
	<div class="body">
		<div th:if="${param.error}">
	    	<h3>Username or Password is wrong. Please check again</h3>
		</div>
		<div th:if="${param.logout}">
	    	<script>Materialize.toast('Deslogado', 4000)</script>
		</div>
		<div class="container">
      		<div class="row">
          		<div class="col s6 offset-s3 z-depth-1" id="panell">
					<h5 id="title" class="blue">Login</h5>
					<form th:action="@{/login}" method="post" class="login">
			        	<div class="input-field" id="username">
			            	<input name="userName" type="text" class="validate"/>
			              	<label for="userName">Username</label>
			          	</div>
			          	<div class="input-field" id="password">
			            	<input name="senha" type="password" class="validate"/>
			            	<label for="senha">Password</label>
			        	</div>			        	
			        	<div id="loginbtn" class="waves-effect waves-light btn">
				        	<input type="submit" value="Sign In"/>
				        </div>
			        </form>
				</div>
			</div>
		</div>
		<div th:replace="template :: javascript"></div>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
     </div>
 </body>
</html>