<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<title>Sistema de Ponto de Hora</title>
		<meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
		<link th:href="@{/css/materialize.min.css}" rel="stylesheet"/>
		<link th:href="@{/css/styles.css}" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	</head>
	
	<div th:fragment="navbar-not-logged" class="navbar">
		<nav class="blue">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">SisPH</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a th:href="@{/login}">Login</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
		<div th:fragment="navbar-ver-todos" class="navbar-ver-todos">
		<nav class="blue">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">MS Serviços</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">

				</ul>
			</div>
		</nav>
	</div>
	<div th:fragment="navbar" class="navbar">
		
	
		<ul id="funcionarios" class="dropdown-content">
			<li><a th:href="@{/funcionarios/}">Ver todos</a></li>
			<li><a th:href="@{/funcionarios/add}">Adicionar</a></li>
		</ul>
		<nav class="blue">
			<a href="#" data-activates="menu-mobile" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
			<div class="nav-wrapper">
				<a th:href="@{/funcionarios/}" class="brand-logo">SPH</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a class="dropdown-button" href="#" data-activates="funcionarios">
						Funcionarios<i class="material-icons right">arrow_drop_down</i>
						</a>
					</li>
					<li>
					     <form th:action="@{/logout}" method="post">
					     		<input type="submit" value="Sair"></input>
					     </form>
					</li>
				</ul>
				<ul class="side-nav" id="menu-mobile">
					<li class="center"><a th:href="@{/funcionarios/}">Ver todos funcionários</a></li>
					<li class="center"><a th:href="@{/funcionarios/add}">Adicionar funcionário</a></li>
					<li class="center">
					     <form class="close-nav" th:action="@{/logout}" method="post">
					     		<input type="submit" value="Sair"></input>
					     </form>
					</li>
				</ul>
				
			</div>
		</nav>
	</div>

	<div th:fragment="javascript">
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
	</div>
</html>
